.contactsPageWrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactsPageSearchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: #99898f;
  width: 400px;
  height: 568px;
  padding: 20px;
  overflow: auto;
  scroll-behavior: smooth;
}
