/* .modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: red;
} */

.modalOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalWindow {
  position: relative;
  height: 400px;
  width: 568px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  background-color: #a9989e;
}

.modalBody {
  display: flex;
  justify-content: center;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.form {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
  background-color: #99898f;
}

.fieldContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 25px;
}

.formField {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 10px;
  background-color: #38272e;
  color: whitesmoke;
}

.formField::placeholder {
  color: #bfb0b6;
}

.formField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #38272e inset; /* колір фону для автозаповнення */
  box-shadow: 0 0 0px 1000px #38272e inset;
  color: #ffffff; /* колір тексту для автозаповнення */
}

/* Стиль для Firefox */
.formField:-moz-autofill {
  background-color: #38272e !important; /* колір фону для автозаповнення */
  color: #ffffff !important; /* колір тексту для автозаповнення */
}

.error {
  color: whitesmoke;
  font-size: 20px;
}

.controlBtnsWrapper {
  display: flex;
  gap: 20px;
}

.modalSubmitBtn,
.modalCancelBtn {
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.modalCancelBtn:hover {
  background-color: #da888d;
  color: white;
}

.modalSubmitBtn:hover {
  background-color: #bfb0b6;
  color: white;
}

.modalFooter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: end;
  gap: 20px;
}
