.contactInfo {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}

.contactContent {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
}

.contactControlBtn {
  background-color: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.contactControlBtn:hover {
  background-color: red;
  color: white;
}

.icon {
  margin-right: 10px;
}
