.loginPageWrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.description {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 400px;
}

.logo {
  font-size: 48px;
  font-weight: normal;
  line-height: 32px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .loginPageWrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
