#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("./img/background.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  color: #f8f6f7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
