.homePageWrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mainTitle {
  font-size: 60px;
  margin-top: 0;
  overflow: hidden;
  text-wrap: nowrap;
  color: whitesmoke;
}

.secondTitle {
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-wrap: nowrap;
  color: whitesmoke;
  /* animation: typing 1s steps(60, end), step-end infinite; */
  font-size: 20px;
  margin: 0;
}

/* @keyframes typing {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
} */

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 100px;
    margin-top: 0;
    font-size: 70px;
    overflow: hidden;
    text-wrap: nowrap;
  }

  .secondTitle {
    overflow: hidden;
    text-wrap: nowrap;
    animation: typing 4s steps(30, end), blink 0.7s step-end infinite;
    font-size: 30px;
    margin: 0;
  }
}
