.homePageWrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  font-size: 100px;
  margin-top: 0;
}

.secondTitle {
  font-size: 30px;
  margin: 0;
}
